{% extends "base.html" %}
{% block title %}Unresolved Requests{% endblock %}
{% block content %}
<section>
<h2>Unresolved Requests</h2>
<ul>
{% for r in unresolved %}
<li>
<div class="card" style="background:#ffd9d9; border-color:#e49b9b;">
<div class="request-content">
<b>Caller:</b> <a href="/caller/{{ r.caller }}" class="caller-link">{{ r.caller }}</a><br>
<b>Question:</b> {{ r.question }}<br>
<small><i>Created: {{ r.created.strftime('%Y-%m-%d %H:%M:%S') }}</i></small>
</div>
</div>
</li>
{% else %}
<li><i>No unresolved requests!</i></li>
{% endfor %}
</ul>
</section>
{% endblock %}
